@charset "UTF-8";
/*  memo
タグ依存はほとんどないので、クラス使いまわしてスタイル再現できます。
マルチクラス、クラス名はハイフン使用。


    CSSプロパティ書き順
----------------------
    1.0 位置と表示関係
    2.0 幅高さ
    3.0 余白
    4.0 線
    5.0 背景
    6.0 フォント
    7.0 その他
----------------------

    CSS記述順
----------------------
    1.0 リセット
    2.0 共通設定
    3.0 レイアウト
    (.l-xxxx)
    4.0 コンポーネント
    5.0 ヘッダー
    6.0 フッター
----------------------


------------------------*/
/*  Import Web font
------------------------*/
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Anton");
/*****-------------------------------
    Eric Meyer’s “Reset CSS” 2.0
-------------------------------*****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****-------------------------------
    Add reset (Include Bootstrap)
-------------------------------*****/
a {
  text-decoration: none; }

a:focus,
a:hover {
  opacity: .4;
  -webkit-transition: .35s;
  transition: .35s;
  text-decoration: none;
  color: #fff; }

/* Bootstrap class reset*/
.navbar {
  margin-bottom: 0;
  border: none; }

.navbar-header {
  float: none;
  border: none !important; }

.navbar-toggle {
  padding: 0;
  margin-top: 16px; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-collapse.in {
  overflow-y: hidden; }

.navbar-collapse,
.navbar-top,
.navbar-form,
.search-btn,
.search-btn:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important; }

/*****-------------------------------
    Utility
-------------------------------*****/
.frame {
  border: 1px solid #ff7800; }

.en {
  font-family: "Anton", sans-serif; }

/*****-------------------------------
    Common initial setting
-------------------------------*****/
body {
  overflow-x: hidden;
  font-size: 14px;
  color: #fff; }
  @media screen and (min-width: 992px) {
    body {
      font-size: 16px; } }

main {
  display: block;
  padding-bottom: 120px;
  background: #1e3457;
  background: linear-gradient(135deg, #1e3457 0%, #1e1e1e 49%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3457', endColorstr='#1e1e1e', GradientType=1); }
  @media screen and (min-width: 992px) {
    main {
      margin-top: -35px; } }

a {
  color: #fff; }

/*****-------------------------------
    Mediaquery initial setting
-------------------------------*****/
.pc-only {
  display: none; }
  @media screen and (min-width: 768px) {
    .pc-only {
      display: block; } }

@media screen and (min-width: 768px) {
  .sp-only {
    display: none; } }

/*****-------------------------------
    Custom common setting
-------------------------------*****/
.page-title,
.nav-link,
.fotter-link {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase; }

/*****-------------------------------
    Layout
-------------------------------*****/
.l-header {
  position: relative;
  z-index: 100000;
  background-color: #1e1e1e; }
  @media screen and (min-width: 768px) {
    .l-header {
      background: #fff; } }

.l-footer {
  background: #ff7800;
  background: linear-gradient(135deg, #ff7800 0%, #ff9600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7800', endColorstr='#ff9600', GradientType=1); }

@media screen and (min-width: 768px) {
  .l-container {
    max-width: 750px; } }

@media screen and (min-width: 992px) {
  .l-container {
    max-width: 970px; } }

@media screen and (min-width: 1200px) {
  .l-container {
    max-width: 1170px; } }

.l-mainvisual {
  padding: 0;
  margin-bottom: 55px; }

/*  header
------------------------*/
.navbar-logo img {
  display: block;
  width: 160px; }

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 30px;
  background: #1e1e1e; }
  @media screen and (min-width: 768px) {
    .navbar-top {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 1000px;
      height: 50px;
      padding: 0;
      margin: 0 auto;
      background: #fff; } }

.navbar-tagline {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #000; }

.navbar-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px) {
    .navbar-top-right {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.navbar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.search-btn {
  margin: 0;
  padding: 0;
  background-color: transparent; }

.search-btn:hover {
  opacity: .4;
  -webkit-transition: .35s;
  transition: .35s;
  background-color: transparent; }

.officialsns-link,
.search-icon {
  width: 30px; }

.search-icon {
  margin-left: 6px; }

.officialsns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.officialsns-link:not(:last-child) {
  margin-right: 10px; }

.form-control {
  min-width: 100%;
  max-width: 210px;
  border-radius: 0;
  border: 1px solid #969696; }

.navbar-bottom {
  position: absolute;
  z-index: 20000;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
  background: #1e1e1e;
  line-height: 2; }
  @media screen and (min-width: 768px) {
    .navbar-bottom {
      bottom: -70px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      max-width: 1000px;
      height: 60px;
      margin: auto; } }

.navber-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .navber-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.nav-item {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .nav-item {
      padding: 0; } }

.nav-item:not(:last-child) {
  border-bottom: 1px solid #ff7800; }
  @media screen and (min-width: 768px) {
    .nav-item:not(:last-child) {
      border: none; } }

.nav-link {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0.9375rem; }

.nav-link a:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: #ff7800; }

.fotter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 140px; }
  @media screen and (max-width: 480px) {
    .fotter-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 70px;
      text-align: center; } }
  @media screen and (min-width: 768px) {
    .fotter-container {
      max-width: 1000px;
      margin: auto; } }

.fotter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .fotter-nav {
      width: 100%; } }

.fotter-item {
  width: 50%;
  line-height: 2.2;
  font-size: 0.9375rem; }
  @media screen and (min-width: 768px) {
    .fotter-item {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      line-height: 1;
      text-align: center; } }

.fotter-link {
  height: 24px; }

.fotter-container .navbar-brand {
  padding-top: 0;
  padding-left: 50px; }
  @media screen and (max-width: 480px) {
    .fotter-container .navbar-brand {
      padding-left: 15px; } }

/*****-------------------------------
    Component
-------------------------------*****/
/*  Main visual
------------------------*/
.content-mainvisual {
  display: block;
  width: 100%;
  border-bottom: 10px solid #ff7800; }

/*  Heading content
------------------------*/
.page-title {
  text-align: center;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  font-size: 3.125rem;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .page-title {
      margin-left: -5px; } }

.page-title span {
  display: inline-block;
  padding: 0 50px 10px;
  margin-bottom: 10px;
  border-bottom: solid 5px #ff7800; }
  @media screen and (max-width: 480px) {
    .page-title span {
      padding: 0 0 10px !important; } }

/*  Content card
------------------------*/
.content-link {
  margin-top: 40px; }

.content-link a {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  padding: 0 15px 15px; }

.content-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%); }

.content-title {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  height: inherit;
  margin: 15px 0;
  overflow-wrap: break-word;
  line-height: 1.1;
  letter-spacing: 2px;
  font-family: "Anton", sans-serif;
  font-size: 1.8rem; }
  @media screen and (min-width: 992px) {
    .content-title {
      font-size: 2.5rem; } }

.content-text {
  overflow: hidden;
  position: relative;
  height: 160px;
  padding: 10px 15px 35px;
  margin: 0 -15px -15px;
  background-color: #000;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  line-height: 1.75;
  font-size: 0.8rem; }

.text-accent {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 100px;
  background-color: #ff7800;
  text-align: center;
  line-height: 2.2;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  font-size: 0.75rem; }

/*  Content text
------------------------*/
.product-text {
  padding: 0 25px; }

.product-catchcopy {
  padding-top: 45px;
  margin: auto;
  text-align: center;
  letter-spacing: 6px;
  font-size: 1.7rem; }

.product-introduction {
  padding-top: 55px;
  margin-bottom: 20px;
  line-height: 1.9;
  letter-spacing: 2px;
  font-size: 0.9rem; }

.product-spec {
  margin-top: 15px;
  margin-bottom: 60px; }

/*  Price table
------------------------*/
.product-price {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 0.9rem; }

.product-header {
  padding: 18px 5px;
  height: 50px;
  background: #fff;
  color: #050100; }
  @media screen and (min-width: 768px) {
    .product-header {
      padding: 18px 27px; } }
  @media screen and (max-width: 480px) {
    .product-header {
      padding: 18px 0px; } }

.product-cell {
  display: inline-block;
  padding: 18px 3px;
  height: 50px;
  border: 1px solid #fff; }
  @media screen and (min-width: 768px) {
    .product-cell {
      padding: 18px 20px; } }
  @media screen and (max-width: 480px) {
    .product-cell {
      padding: 18px 0px; } }
