/*****-------------------------------
    Component
-------------------------------*****/


/*  Main visual
------------------------*/

.content-mainvisual {
    display: block;
    width: 100%;
    border-bottom: 10px solid $main;
}


/*  Heading content
------------------------*/

.page-title {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 3.125rem;
    color: $main-font;
    @include mq-down(sm) {
        margin-left: -5px;
    }
}

.page-title span {
    display: inline-block;
    padding: 0 50px 10px;
    margin-bottom: 10px;
    border-bottom: solid 5px $main;
    @include mq-down(sm) {
        padding: 0 0 10px !important;
    }
}


/*  Content card
------------------------*/

.content-link {
    margin-top: 40px;
}

.content-link a {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    padding: 0 15px 15px;
    border: 1px solid $main;
}

.content-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.content-title {
    position: relative;
    z-index: 100;
    display: flex;
    min-height: 70px;
    height: inherit;
    margin: 15px 0;
    overflow-wrap: break-word;
    line-height: 1.1;
    font-size: 1.8rem;
    @include mq-up(lg) {
        font-size: 2.5rem;
    }
}

.content-text {
    overflow: hidden;
    position: relative;
    height: 160px;
    padding: 10px 15px 35px;
    margin: 0 -15px -15px;
    background-color: #000;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.75;
    font-size: 0.8rem;
}

.text-accent {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 100px;
    background-color: $main;
    text-align: center;
    line-height: 2.2;
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    font-size: 0.75rem;
}


/*  Content text
------------------------*/
